@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


 /*Reseteo*/
 *{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin:0;
    border:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
    }

 html{
    height: 100vh;
    width: 100% !important; 
    }
   
.main{
    width: 100% !important; 
    margin: 0%;
 }   

.main_nav{
     height: 100vh;
     margin: 0%;
     background-color: #F7F8FC;
     border-right: 2px solid #e7e8ec88;
}

.picture{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    margin-top: 10%;
    width: 100%;
    padding-left: 0%;
 }
 .menu li {
   width: 55%;
   height: 12%;
  display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   color: #3639AE;
}
.menu li:hover {
    background-color: #3639AE;
    color: white;
 }
.menu li i{
    font-size: 1.2rem;
}
.second_section h4{
    margin-top: 5%;
}
.main_datos{
    width: 100%;
    margin-top: 7%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.case{
    height: 8.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.case p{
   padding-top: 10%;
   font-weight: 900;
   font-size: 1.2rem;
   margin-block-end: 0;
  }
.case h6{
    padding-top: 5%;
    color: #242164;
    font-weight: 900;
    font-size: 0.8rem;
    margin-left: 5%;
 }
.total_case{
    background-color: #FFF2F2;
   }
.total_case p{
    color: #FF0100;
}
.active_case{
    background-color: #FFF9F1;
}
.active_case p{
   color: #FF6A07;
}
.recovered_case{
    background-color: #EDFFEC;
}
.recovered_case p{
    color: #82C519;
}
.death_case{
    background-color: #EEFBFF;
}
.death_case p{
    color: #373AAE;
}



